Source: candystore
Section: x11
Priority: optional
Maintainer: Patrick Prokopczuk <prokopczuk@gmx.de>
Build-Depends: cdbs, debhelper (>= 7), libqt4-dev, libqt4-opengl-dev, libvtk5-dev, libqwt-dev, libnglib-dev
Standards-Version: 3.9.3

Package: candystore
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Post processing utility for CalculiX ccx
 CandyStore is a post processing utility for the open source finite element
 solver CalculiX. It is developed upon QT libraries. It is inspired by CGX, the
 original post processor of CalculiX. The command line interface of CGX is
 great for people who work daily with it, however, it takes some time to get
 comfortable with it. In the past I noticed, that this is often a "No-Go" for
 persons who want to use a FE-tool only once in a while.
 CandyStore tries to come up with a interface, that is more intuitive and makes
 the first steps easier. Beside the difference in the graphical user interface,
 the internal data structure differs to CGX. Memory usage does not depend on
 the highets node number in the model. This change reduces memory usage.
 At the moment the application is still in its early development stage.
